<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestion_Isep"
        tools:targetApi="31">
        <activity
            android:name=".AjoutClasse"
            android:exported="false" />
        <activity
            android:name=".ListDepartement"
            android:exported="false" />
        <activity
            android:name=".AjouterDepartement"
            android:exported="false" />
        <activity
            android:name=".ListFormation"
            android:exported="false" />
        <activity
            android:name=".AjouterFormation"
            android:exported="false" />
        <activity
            android:name=".ListPromo"
            android:exported="false" />
        <activity
            android:name=".AjoutPromo"
            android:exported="false" />
        <activity
            android:name=".AjouterApprenant"
            android:exported="false" />
        <activity
            android:name=".ListApprenants"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>